---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

const writings = await getCollection('writings');
---

<Layout>
	<h1>Writings</h1>
	<ul>
		{writings.map((writing) => (
			<li>{writing.data.title}</li>
		))}
	</ul>
</Layout>

